<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Compte</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="container">
            <div class="form">
                <form method="post" action="{% url 'modifier_compte' %}">
                    {% csrf_token %}
                    <h1>Modifier le compte</h1>
                    {{ form.as_p }}
                    <a href="{% url 'modifier_mot_de_passe' %}">Changer le mot de passe</a><br>
                    <button type="submit">Mettre à jour</button>
                    <button type="submit"><a href="{% url 'acceuil' %}" style="color: #fff;">Annuler</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>