<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer Compte</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="form">
            <h1>Supprimer votre compte</h1>
            <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>
            {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                <p class="error">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" action="{% url 'supprimer_compte' %}">
                {% csrf_token %}
                <button type="submit">Oui, supprimer mon compte</button>
            </form>
            <a href="{% url 'acceuil' %}">Annuler</a>
        </div>
    </div>

</body>

</html>